.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Titillium+Web&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
    background-image:url(images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.top{
    display: flex;
    flex-direction: row;
   
}
.top >h1{
    color: #fff;
    letter-spacing: 15px;
    font-size: 50px;
    left: 40%;
    margin-top: 5%;
    position: relative;
}
.top #sun{
    width: 30px;
    height: 30px;
    position: relative;
    left: 50%;
    margin-top: 6%;
    cursor: pointer;
}
form{
    text-align: center;
    position: relative;
    top: 89px;
    background-size: auto;
    background-color:#eed2ff;
    padding:30px 40px;
    color:white;
}
#item{
    width: 450px;
    height: 50px;
    outline: none;
    font-size: 17px;
    padding-left: 10px;
}
#item::placeholder{
    font-size: 15px;
    padding-left: 20px;
}
.addBtn {
    margin-left: 20px;
    width: 70px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(156, 117, 219);
    outline: none;
    font-weight: bolder;
    cursor: pointer;
    box-shadow:1px 2px 4px #167dae;
}

form::after {
    content:"";
    display:table;
    clear:both;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}
ul li{
    cursor:pointer;
    position:relative;
    padding:12px 8px 12px 40px;
    background: rgb(227, 203, 250);
    font-size:18px;
    transition: 0.2s;
}
ul li:nth-child(odd) {
    background-color:#f9f9f9;
}
ul li:hover {
    background-color:#ddd;
}
.close {
    position:absolute;
    right:0;
    top:0;
    padding:12px 16px;
    border:none;
    background:rgba(255,255,255,0)
}
.close:hover {
    background-color:#007acc;
    color:white;
}
form::after {
    content:"";
    display:table;
    clear:both;
  }
  ul{
    margin:0;
    padding:0;
    list-style: none;
  }
  ul li{
    cursor:pointer;
    position:relative;
    padding:12px 8px 12px 40px;
    background: rgb(242, 229, 255);
    font-size:18px;
    transition: 0.2s;
  }
  ul li:nth-child(odd) {
    position: relative;
    top: 100px;
    background-color:#f3c4ff;
  }
  ul li:nth-child(even) {
    position: relative;
    top: 100px;
    background-color:#ebebeb;
  }
  ul li:hover {
    background-color:rgb(250, 238, 255);
  }
  .close {
    position:absolute;
    right:0;
    top:0;
    padding:12px 16px;
    border:none;
    background:rgba(255,255,255,0)
  }
  .close:hover {
    background-color:#c2c2c2;
    color:white;
  }

  @media screen and (max-width: 1189px){
      body{
          background-size: auto;
      }
      form{
          top: 40px;
      }
  }
  @media screen and (max-width:659px) {
      #item{
          width: 300px;
      }
      form{
          top: 50px;
      }
      body{
          background-size: auto;
      }
  }

  @media screen and (max-width: 505px){
    #item{
        width: 200px;
    }
    .top #sun{
        left: 160px;
        position: relative;
        margin-top: 8%;
    }
    .top >h1{
        left: 120px;
        position: relative;
    }
    ul li:nth-child(odd) {
        position: relative;
        top: 70px;
        background-color:#f6d4ff;
      }
      ul li:nth-child(even) {
        position: relative;
        top: 70px;
        background-color:#ebebeb;
      }
  }
  @media screen and (max-width: 401px){
    
    #item{
        width: 150px;
    }
    .top #sun{
        left: 30%;
        position: relative;
        margin-top: 8%;
    }
    .top >h1{
        color: #fff;
        letter-spacing: 15px;
        font-size: 50px;
        left: 80px;
        margin-top: 5%;
        position: relative;
    }
    ul li:nth-child(odd) {
        position: relative;
        top: 70px;
        background-color:#f6d4ff;
      }
      ul li:nth-child(even) {
        position: relative;
        top: 70px;
        background-color:#ebebeb;
      }
      
  }